<!-- Section: Social media -->
<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Right -->
    <div>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <!-- Right -->
</section>
<section class="d-none d-lg-block d-md-block ">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ">
                <!-- Content -->
                <img loading="lazy" src="{{ url_for('static', filename='img/Red_0.png') }}" width="243"
                    alt="Meat Avatar logo" class="d-inline-block align-text-top" aria-hidden="true">
                <div class="d-flex flex-row gap-3 my-4">
                    <img loading="lazy" src="{{ url_for('static', filename='img/socials/socials_2.png') }}"
                        alt="Facebook">
                    <img loading="lazy" src="{{ url_for('static', filename='img/socials/socials_3.png') }}" alt="Line">
                    <img loading="lazy" src="{{ url_for('static', filename='img/socials/socials_4.png') }}"
                        alt="Instagram">
                    <img loading="lazy" src="{{ url_for('static', filename='img/socials/socials_1.png') }}"
                        alt="Tiktok">
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <p>
                    <a href="#!" class="text-reset" alt="our product">Our product</a>
                </p>
                <p>
                    <a href="#!" class="text-reset" alt="how to order">How to order</a>
                </p>
                <p>
                    <a href="#!" class="text-reset" alt="why meat avatar?">Why Meat Avatar?</a>
                </p>
                <p>
                    <a href="#!" class="text-reset" alt="Sustainability">Sustainability</a>
                </p>
                <p>
                    <a href="#!" class="text-reset" alt="faq">FAQ</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <p>
                    <a href="#!" class="text-reset" alt="about">About</a>
                </p>
                <p>
                    <a href="#!" class="text-reset" alt="our mission">Our mission</a>
                </p>
                <p>
                    <a href="#!" class="text-reset" alt="Planted-base for better world">Planted-base for better
                        world</a>
                </p>
                <p>
                    <a href="#!" class="text-reset" alt="contact">Contact us</a>
                </p>
            </div>

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 d-flex justify-content-center flex-column">
       
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</section>
<!-- Copyright -->
<div class="container text-center p-4 d-flex justify-content-between " style="border-top: 1px solid #f1f1f1;">
    <a href="#" class="darkhc">#Better Meat for Better World</a>
    <div class="darkhc">
        <span>Copyright © 2023 Meat Avatar</span>
        <span class="mx-2">Powered by Meat Avatar</span>
    </div>
</div>